pre {
    background: #eee;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 20px;
}

form {
    margin: 40px auto 0;
}

label {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    font-size: 32px;
    margin: 0 0 20px;
    padding: .5rem 1rem;
    width: 100%;
}

button {
    background: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem;
}

button:hover {
    background: #333;
    border: 2px solid #333;
    color: #fff;
}

.buy {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 2px;
    margin: auto;
    padding: 40px;
    width: 25%;
    max-width: fit-content;
    text-align: center;
    float: left;
}

.buy2 {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 2px;
    margin: auto;
    padding: 40px;
    width: 25%;
    max-width: fit-content;
    text-align: center;
    float: left;
}

.buy3 {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 2px;
    margin: auto;
    padding: 40px;
    width: 25%;
    max-width: fit-content;
    text-align: center;
    float: left;
}

.buy4 {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 2px;
    margin: auto;
    padding: 40px;
    width: 25%;
    max-width: fit-content;
    text-align: center;
    float: left;
}

input#currency-field {
    width: 200px;
}

h1 {
    align-items: center;
    align-content: center;
    text-align: center;
}